<div class="modal-header">
    <h3 class="modal-title">History</h3>
</div>
<div class="modal-body">
    <table class="table">
        <tr>
            <th>Message</th>
            <th>Created at</th>
        </tr>
        <tr ng-repeat="translation in data">
            <td>{{ translation.message }}</td>
            <td>{{ translation.created_at | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning ladda-button" data-size="xs" data-style="expand-right" ng-click="close()">Close</button>
</div>