<div id="history-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="history-title">History</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Key</label>
                    <div class="col-sm-10">
                        <p id="history-key" class="form-control">test.key</p>
                    </div>
                </div>
                <div id="history-container">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">lt</label>
                        <div class="col-sm-10">
                            <table class="table">
                                <tr>
                                    <th>Message</th>
                                    <th>Updated at</th>
                                </tr>
                                <tr>
                                    <td>Labas</td>
                                    <td>2015 05 17</td>
                                </tr>
                                <tr>
                                    <td>Labutis</td>
                                    <td>2015 09 29</td>
                                </tr>
                                <tr>
                                    <td>Labuks</td>
                                    <td>2016 07 22</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">en</label>
                        <div class="col-sm-10">
                            <table class="table">
                                <tr>
                                    <th>Message</th>
                                    <th>Created at</th>
                                </tr>
                                <tr>
                                    <td>Hey</td>
                                    <td>2015 05 17</td>
                                </tr>
                                <tr>
                                    <td>Hayyo</td>
                                    <td>2015 09 29</td>
                                </tr>
                                <tr>
                                    <td>Helo</td>
                                    <td>2016 07 22</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>