{% extends 'ONGRTranslationsBundle::layout.html.twig' %}

{% block content %}
    <div id="setting-list-error" class="alert alert-danger alert-dismissible fade in" style="display: none;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4>You got an error!</h4>
        <p id="setting-list-error-message"></p>
    </div>
    <table id="translations" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Key</th>
            {% for locale in locales %}
                <th>{{ locale }}</th>
            {% endfor %}
            <th style="width: 100px">Actions</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block footer_javascript %}

{% endblock %}
