.inline-edit a {
    cursor: pointer;
}

.inline-edit div {
    display: none;
}

.inline-edit.active a {
    display: none;
}

.inline-edit.active div {
    display: table;
}
[ng-cloak] {
    display: none !important;
}

.highlight {
    background-color: rgb(245, 245, 245);
}

.pointer {
    cursor: pointer;
}

.danger-font {
    color: #d9534f;
}

.danger-font:hover {
    color: rgb(201, 48, 44);
}
