<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">History</h3>
            </div>
            <div class="modal-body ng-scope">
                <table class="table">
                    <tbody id="history-modal-content">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer ng-scope">
                <button class="btn btn-warning ladda-button" data-style="expand-right" data-dismiss="modal" data-size="xs">
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>
</div>